// Media Queries
@lgDesktop : ~"(max-width: 1400px)";
@midDesktop : ~"(max-width: 1200px)";
@smDesktop : ~"(max-width: 1000px)";
@tablet : ~"(max-width: 800px)";
@smTablet : ~"(max-width: 650px)";
@phone : ~"(max-width: 500px)";